[package]
name = "trashbot"
version = "0.1.0"
authors = ["Liam Kalir <liamkalir9595@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
env_logger = "0.8.3"
log = "0.4.14"
serenity = { version = "0.10.2", default-features = false, features = [
  "client",
  "gateway",
  "rustls_backend",
  "model",
  "standard_framework",
  "framework",
  "cache",
  "http",
] }
tokio = { version = "1.2.0", features = ["macros", "rt-multi-thread"] }
